Results

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

<input type="text" class="search" />

<div class="result-wrapper"></div>

<script>
  $(document).ready(function() {
    var $input = $('.search');
    $input.on('keydown', function(event) {
      if (event.which !== 13) {
        return;
      }

      var params = {
        search: $input.val()
      };

      $.get('/search', params, function(data) {
        render(data.results);
      });
    });
  });

  function render(results) {
    var resultEl = $('.result-wrapper');
    var listEl = $('<ul></ul>');

    resultEl.children().eq(0).remove();
    resultEl.append(listEl);

    _.each(results, function(result) {
      var el = '<li>' +
      '<span><a href="' + result.link + '" >' + result.name + '</a><span>' +
      '<span> ' + result.type + ' </span>' +
      '<span> ' + result.seeds + ' </span>' +
      '<span> ' + result.peers + ' </span>' +
      '</li>';
      listEl.append($(el));
    });
  }
</script>
